.section {
  padding-bottom: var(--section-space);
}

.grid {
  display: grid;
  gap: var(--space-12);
  padding: 0;
  list-style: none;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-12) var(--space-8);
  }
}

@media (min-width: 960px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
